Repository microsoft/kiota, pull requests merged in 2021-07, with the labels that each got.

#378 fixes an issue where a property with the class name would prevent compilation in CSharp
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  tests/Kiota.Builder.Tests/Refiners/CSharpLanguageRefinerTests.cs
Labels: CSharp

#329 - updates gradle to latest
  abstractions/java/gradle/wrapper/gradle-wrapper.jar
  abstractions/java/gradle/wrapper/gradle-wrapper.properties
  abstractions/java/gradlew
  authentication/java/azure/gradle/wrapper/gradle-wrapper.jar
  authentication/java/azure/gradle/wrapper/gradle-wrapper.properties
  authentication/java/azure/gradlew
  http/java/okhttp/gradle/wrapper/gradle-wrapper.jar
  http/java/okhttp/gradle/wrapper/gradle-wrapper.properties
  http/java/okhttp/gradlew
  serialization/java/json/gradle/wrapper/gradle-wrapper.jar
  serialization/java/json/gradle/wrapper/gradle-wrapper.properties
  serialization/java/json/gradlew
Labels: Java

#402 improves getting started documentation and language support information
  .vscode/launch.json
  README.md
  generator/binaries.md
  generator/build.md
  generator/docker.md
  generator/index.md
  generator/tool.md
  requiredtools/dotnet.md
  requiredtools/index.md
  requiredtools/java.md
  requiredtools/kiota.md
  requiredtools/typescript.md
Labels: documentation, enhancement, generator

#244 Feature/ruby writers
  .vscode/launch.json
  CHANGELOG.md
  src/Kiota.Builder/CodeRenderer.cs
  src/Kiota.Builder/Extensions/StringExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/PathSegmenters/CommonPathSegmenter.cs
  src/Kiota.Builder/PathSegmenters/RubyPathSegmenter.cs
  src/Kiota.Builder/Refiners/ILanguageRefiner.cs
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Refiners/RubyReservedNamesProvider.cs
  src/Kiota.Builder/Writers/CSharp/CSharpWriter.cs
  src/Kiota.Builder/Writers/CSharp/CodeClassDeclarationWriter.cs
  src/Kiota.Builder/Writers/LanguageWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeClassDeclarationWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeClassEndWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeEnumWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeIndexerWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeNamespaceWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodePropertyWriter.cs
  src/Kiota.Builder/Writers/Ruby/RubyConventionService.cs
  src/Kiota.Builder/Writers/Ruby/RubyWriter.cs
  tests/Kiota.Builder.IntegrationTests/GenerateSample.cs
  tests/Kiota.Builder.Tests/CodeDOM/CodeNamespaceTests.cs
  tests/Kiota.Builder.Tests/Extensions/StringExtensionsTests.cs
  tests/Kiota.Builder.Tests/Refiners/RubyLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Writers/LanguageWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeClassDeclarationWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeClassEndWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeEnumWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeIndexerWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeNamespaceWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodePropertyWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/RubyWriterTests.cs
Labels: Ruby
