Repository microsoft/kiota, pull requests merged in 2022-07, with the labels that each got.

#1708 - fixes a bug where go binary would not map properly
  CHANGELOG.md
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
Labels: Go

#1711 Update PHPDoc types in request config classes
  CHANGELOG.md
  src/Kiota.Builder/Refiners/PhpRefiner.cs
  src/Kiota.Builder/Writers/Php/CodePropertyWriter.cs
Labels: PHP

#1713 - fixes a bug where discriminator mappings across namespaces could create circular dependencies in Go
  CHANGELOG.md
  src/Kiota.Builder/CodeDOM/CodeClass.cs
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/GoRefiner.cs
  tests/Kiota.Builder.Tests/CodeDOM/CodeClassTests.cs
  tests/Kiota.Builder.Tests/Refiners/GoLanguageRefinerTests.cs
Labels: Go

#1728 - adds a more explicit message for invalid schema
  CHANGELOG.md
  src/Kiota.Builder/Exceptions/InvalidSchemaException.cs
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/Exceptions/InvalidSchemaExceptionTests.cs
Labels: generator

#1723 - fixes a bug where query parameters types would ignore the format
  CHANGELOG.md
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Labels: generator

#1719 bugfix/multiple levels properties
  CHANGELOG.md
  src/Kiota.Builder/CodeDOM/CodeClass.cs
  src/Kiota.Builder/CodeDOM/CodeProperty.cs
  src/Kiota.Builder/CodeDOM/ProprietableBlock.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/LanguageWriter.cs
  src/Kiota.Builder/Writers/TypeScript/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/TypeScript/TypeScriptWriter.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodePropertyWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Java/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/LanguageWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeMethodWriterTests.cs
Labels: CSharp, TypeScript, Go, Java, generator

#1731 - bumps version for 0.3.0 release
  CHANGELOG.md
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Labels: generator

#1733 fixes a bug where collections types would generate invalid return types in CSharp
  CHANGELOG.md
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
Labels: bug, CSharp

#1734 - Fixes a bug where a nullable entry in anyOf schemas would create unnecessary composed types.
  CHANGELOG.md
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Labels: bug, generator

#1735 - fixes a bug where unused types would be generated
  src/Kiota.Builder/KiotaBuilder.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Labels: bug, generator

#1739 - fixes a bug where odata type serialization name would be truncated
  src/Kiota.Builder/CodeDOM/CodeClass.cs
  src/Kiota.Builder/CodeDOM/CodeProperty.cs
  src/Kiota.Builder/Extensions/StringExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Extensions/StringExtensionsTests.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/CSharp/CodePropertyWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Java/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeMethodWriterTests.cs
Labels: bug, Go, Java

#1737 PHP: Multi-definition trimming and property defaults
  .vscode/launch.json
  CHANGELOG.md
  README.md
  src/Kiota.Builder/GenerationConfiguration.cs
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Php/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/Php/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Php/CodePropertyWriterTests.cs
Labels: PHP

#1741 Feature/request config revamp
  abstractions/python/kiota/abstractions/authentication/base_bearer_token_authentication_provider.py
  abstractions/python/kiota/abstractions/request_information.py
  http/python/requests/http_requests/kiota_client_factory.py
  http/python/requests/http_requests/middleware/__init__.py
  http/python/requests/http_requests/middleware/options/__init__.py
  http/python/requests/http_requests/middleware/options/parameters_name_decoding_options.py
  http/python/requests/http_requests/middleware/parameters_name_decoding_handler.py
  http/python/requests/http_requests/requests_request_adapter.py
Labels: Python

#1632 Feature/field deserializers simplification python
  CHANGELOG.md
  abstractions/python/kiota/abstractions/authentication/base_bearer_token_authentication_provider.py
  abstractions/python/kiota/abstractions/request_information.py
  abstractions/python/kiota/abstractions/serialization/parsable.py
  http/python/requests/http_requests/kiota_client_factory.py
  http/python/requests/http_requests/middleware/__init__.py
  http/python/requests/http_requests/middleware/options/__init__.py
  http/python/requests/http_requests/middleware/options/parameters_name_decoding_options.py
  http/python/requests/http_requests/middleware/parameters_name_decoding_handler.py
  http/python/requests/http_requests/requests_request_adapter.py
  serialization/python/json/serialization_json/json_parse_node.py
  serialization/python/json/tests/helpers/user.py
Labels: Python

#1631 Add support for vendor specific content types
  CHANGELOG.md
  abstractions/python/kiota/abstractions/authentication/base_bearer_token_authentication_provider.py
  abstractions/python/kiota/abstractions/request_information.py
  abstractions/python/kiota/abstractions/serialization/parsable.py
  abstractions/python/kiota/abstractions/serialization/parse_node_factory_registry.py
  abstractions/python/kiota/abstractions/serialization/serialization_writer_factory_registry.py
  http/python/requests/http_requests/kiota_client_factory.py
  http/python/requests/http_requests/middleware/__init__.py
  http/python/requests/http_requests/middleware/options/__init__.py
  http/python/requests/http_requests/middleware/options/parameters_name_decoding_options.py
  http/python/requests/http_requests/middleware/parameters_name_decoding_handler.py
  http/python/requests/http_requests/requests_request_adapter.py
  serialization/python/json/serialization_json/json_parse_node.py
  serialization/python/json/tests/helpers/user.py
Labels: Python

#1630 Add support for no content responses
  CHANGELOG.md
  abstractions/python/kiota/abstractions/authentication/base_bearer_token_authentication_provider.py
  abstractions/python/kiota/abstractions/request_adapter.py
  abstractions/python/kiota/abstractions/request_information.py
  abstractions/python/kiota/abstractions/serialization/parsable.py
  abstractions/python/kiota/abstractions/serialization/parse_node_factory_registry.py
  abstractions/python/kiota/abstractions/serialization/serialization_writer_factory_registry.py
  http/python/requests/http_requests/kiota_client_factory.py
  http/python/requests/http_requests/middleware/__init__.py
  http/python/requests/http_requests/middleware/options/__init__.py
  http/python/requests/http_requests/middleware/options/parameters_name_decoding_options.py
  http/python/requests/http_requests/middleware/parameters_name_decoding_handler.py
  http/python/requests/http_requests/requests_request_adapter.py
  http/python/requests/tests/test_requests_request_adapter.py
  serialization/python/json/serialization_json/json_parse_node.py
  serialization/python/json/tests/helpers/user.py
Labels: Python
