Repository microsoft/kiota, pull requests merged in 2022-06, with the labels that each got.

#1602 aligns request body and response schema election
  CHANGELOG.md
  docs/using.md
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/Extensions/OpenApiOperationExtensions.cs
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
  src/Kiota.Builder/GenerationConfiguration.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/GoRefiner.cs
  src/Kiota.Builder/Refiners/JavaRefiner.cs
  src/Kiota.Builder/Refiners/PhpRefiner.cs
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/TypeScript/CodeMethodWriter.cs
  src/kiota/KiotaHost.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiOperationExtensionsTests.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Labels: generator

#1620 Move nested request config classes to separate files
  CHANGELOG.md
  src/Kiota.Builder/Refiners/PhpRefiner.cs
Labels: PHP

#1629 Add accept header PHP
  CHANGELOG.md
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Php/PhpConventionService.cs
Labels: PHP

#1642 Add PHP Getting Started docs
  CHANGELOG.md
  docs/get-started/php.md
Labels: PHP

#1697 multiple workflows fixes
  .azure-pipelines/ci-build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-required-workaround.yml
  .github/workflows/dotnet-required-workaround.yml
  .github/workflows/dotnet.yml
  .github/workflows/http-python-requests.yml
  .github/workflows/serialization-python-json.yml
  .github/workflows/sonarcloud.yml
Labels: bug, Python, generator

#1675 Implemented AllowedHostsValidator class
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/authentication/allowed_hosts_validator.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/authentication/base_bearer_token_authentication_provider.rb
Labels: Ruby

#1701 - fixes jruby-head CI
  .github/workflows/http-ruby-nethttp.yml
  .github/workflows/serialization-ruby-json.yml
Labels: Ruby
