Repository microsoft/kiota, pull requests merged in 2022-01, with the labels that each got.

#996 race condition go client fix
  CHANGELOG.md
  abstractions/go/api_client_builder.go
  abstractions/go/api_client_builder_test.go
Labels: Go

#1003 - adds support for providing a custom transport under the middleware transport in go
  http/go/nethttp/pipeline.go
  http/go/nethttp/pipeline_test.go
Labels: Go

#1010 - adds task as a reserved word in dotnet in prevision for upcoming graph APIs
  src/Kiota.Builder/Refiners/CSharpReservedNamesProvider.cs
Labels: CSharp

#918 Add PHP RetryHandler
  .github/workflows/http-php-guzzle.yml
  http/php/guzzle/.editorconfig
  http/php/guzzle/.gitattributes
  http/php/guzzle/.gitignore
  http/php/guzzle/README.md
  http/php/guzzle/composer.json
  http/php/guzzle/phpstan.neon
  http/php/guzzle/phpunit.xml
  http/php/guzzle/src/Middleware/KiotaMiddleware.php
  http/php/guzzle/src/Middleware/Options/RetryOption.php
  http/php/guzzle/src/Middleware/RetryHandler.php
  http/php/guzzle/tests/Middleware/RetryHandlerTest.php
Labels: PHP

#1011 Fix deserialization of null values in dotnet.
  serialization/dotnet/json/Microsoft.Kiota.Serialization.Json.Tests/JsonParseNodeTests.cs
  serialization/dotnet/json/Microsoft.Kiota.Serialization.Json.Tests/Mocks/TestEntity.cs
  serialization/dotnet/json/src/JsonParseNode.cs
  serialization/dotnet/json/src/Microsoft.Kiota.Serialization.Json.csproj
Labels: CSharp

#1016 - upgrades to system commandline beta2
  src/kiota/KiotaHost.cs
  src/kiota/kiota.csproj
Labels: generator

#321 Feat(abstractions): Add the initial abstractions for PHP
  .github/dependabot.yml
  .github/workflows/abstractions-php.yml
  .vscode/launch.json
  README.md
  abstractions/php/.gitignore
  abstractions/php/composer.json
  abstractions/php/phpstan.neon
  abstractions/php/phpunit.xml
  abstractions/php/src/ApiClientBuilder.php
  abstractions/php/src/Authentication/AnonymousAuthenticationProvider.php
  abstractions/php/src/Authentication/AuthenticationProvider.php
  abstractions/php/src/Authentication/BaseBearerTokenAuthenticationProvider.php
  abstractions/php/src/Enum.php
  abstractions/php/src/HttpMethod.php
  abstractions/php/src/QueryParameterBase.php
  abstractions/php/src/RequestAdapter.php
  abstractions/php/src/RequestInformation.php
  abstractions/php/src/RequestOption.php
  abstractions/php/src/ResponseHandler.php
  abstractions/php/src/Serialization/Parsable.php
  abstractions/php/src/Serialization/ParseNode.php
  abstractions/php/src/Serialization/ParseNodeFactory.php
  abstractions/php/src/Serialization/ParseNodeFactoryRegistry.php
  abstractions/php/src/Serialization/ParseNodeProxyFactory.php
  abstractions/php/src/Serialization/SerializationWriter.php
  abstractions/php/src/Serialization/SerializationWriterFactory.php
  abstractions/php/src/Serialization/SerializationWriterFactoryRegistry.php
  abstractions/php/src/Serialization/SerializationWriterProxyFactory.php
  abstractions/php/src/Store/BackedModel.php
  abstractions/php/src/Store/BackingStore.php
  abstractions/php/src/Store/BackingStoreFactory.php
  abstractions/php/src/Store/BackingStoreFactorySingleton.php
  abstractions/php/src/Store/BackingStoreParseNodeFactory.php
  abstractions/php/src/Store/BackingStoreSerializationWriterProxyFactory.php
  abstractions/php/src/Store/InMemoryBackingStore.php
  abstractions/php/src/Store/InMemoryBackingStoreFactory.php
  abstractions/php/tests/HttpMethodTest.php
  abstractions/php/tests/Microsoft/Kiota/Tests/SampleTest.php
  abstractions/php/tests/RequestInformationTest.php
Labels: promote, PHP

#1038 Chore/update system commandline
  src/Kiota.Builder/Writers/Shell/ShellCodeMethodWriter.cs
Labels: CLI

#1041 [Dotnet] adds support for date-only, time-only and duration in Kiota
  abstractions/dotnet/src/Date.cs
  abstractions/dotnet/src/Microsoft.Kiota.Abstractions.csproj
  abstractions/dotnet/src/Time.cs
  abstractions/dotnet/src/serialization/IParseNode.cs
  abstractions/dotnet/src/serialization/ISerializationWriter.cs
  serialization/dotnet/json/Microsoft.Kiota.Serialization.Json.Tests/JsonParseNodeTests.cs
  serialization/dotnet/json/Microsoft.Kiota.Serialization.Json.Tests/JsonSerializationWriterTests.cs
  serialization/dotnet/json/Microsoft.Kiota.Serialization.Json.Tests/Mocks/TestEntity.cs
  serialization/dotnet/json/src/JsonParseNode.cs
  serialization/dotnet/json/src/JsonSerializationWriter.cs
  serialization/dotnet/json/src/Microsoft.Kiota.Serialization.Json.csproj
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CSharpConventionService.cs
  tests/Kiota.Builder.Tests/Refiners/CSharpLanguageRefinerTests.cs
Labels: CSharp

#1017 adds support for date-only, time-only and duration in Kiota
  CHANGELOG.md
  abstractions/dotnet/src/Date.cs
  abstractions/dotnet/src/Microsoft.Kiota.Abstractions.csproj
  abstractions/dotnet/src/Time.cs
  abstractions/dotnet/src/serialization/IParseNode.cs
  abstractions/dotnet/src/serialization/ISerializationWriter.cs
  abstractions/go/api_client_builder_test.go
  abstractions/go/go.mod
  abstractions/go/go.sum
  abstractions/go/serialization/date_only.go
  abstractions/go/serialization/date_only_test.go
  abstractions/go/serialization/iso_duration.go
  abstractions/go/serialization/iso_duration_test.go
  abstractions/go/serialization/parse_node.go
  abstractions/go/serialization/serialization_writer.go
  abstractions/go/serialization/time_only.go
  abstractions/go/serialization/time_only_test.go
  abstractions/java/lib/build.gradle
  abstractions/java/lib/src/main/java/com/microsoft/kiota/serialization/ParseNode.java
  abstractions/java/lib/src/main/java/com/microsoft/kiota/serialization/SerializationWriter.java
  abstractions/typescript/package-lock.json
  abstractions/typescript/package.json
  abstractions/typescript/src/dateOnly.ts
  abstractions/typescript/src/duration.ts
  abstractions/typescript/src/index.ts
  abstractions/typescript/src/serialization/parseNode.ts
  abstractions/typescript/src/serialization/serializationWriter.ts
  abstractions/typescript/src/timeOnly.ts
  serialization/dotnet/json/Microsoft.Kiota.Serialization.Json.Tests/JsonParseNodeTests.cs
  serialization/dotnet/json/Microsoft.Kiota.Serialization.Json.Tests/JsonSerializationWriterTests.cs
  serialization/dotnet/json/Microsoft.Kiota.Serialization.Json.Tests/Mocks/TestEntity.cs
  serialization/dotnet/json/src/JsonParseNode.cs
  serialization/dotnet/json/src/JsonSerializationWriter.cs
  serialization/dotnet/json/src/Microsoft.Kiota.Serialization.Json.csproj
  serialization/go/json/json_parse_node.go
  serialization/go/json/json_serialization_writer.go
  serialization/java/json/lib/build.gradle
  serialization/java/json/lib/src/main/java/com/microsoft/kiota/serialization/JsonParseNode.java
  serialization/java/json/lib/src/main/java/com/microsoft/kiota/serialization/JsonSerializationWriter.java
  serialization/typescript/json/src/jsonParseNode.ts
  serialization/typescript/json/src/jsonSerializationWriter.ts
  src/Kiota.Builder/CodeDOM/CodeUsing.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/GoRefiner.cs
  src/Kiota.Builder/Refiners/JavaRefiner.cs
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CSharpConventionService.cs
  src/Kiota.Builder/Writers/Go/GoConventionService.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Java/JavaConventionService.cs
  src/Kiota.Builder/Writers/TypeScript/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/TypeScript/TypeScriptConventionService.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
  tests/Kiota.Builder.Tests/Refiners/CSharpLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/GoLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/JavaLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/TypeScriptLanguageRefinerTests.cs
Labels: Go, generator

#1062 - fixes missing version bump for typescript json release
  serialization/typescript/json/package-lock.json
  serialization/typescript/json/package.json
Labels: TypeScript

#1070 go array serialization update
  CHANGELOG.md
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
Labels: Go

#1050 splits authentication and access token interfaces for go, java, dotnet and docs
  abstractions/dotnet/Microsoft.Kiota.Abstractions.Tests/Authentication/AuthenticationTests.cs
  abstractions/dotnet/src/authentication/AnonymousAuthenticationProvider.cs
  abstractions/dotnet/src/authentication/BaseBearerTokenAuthenticationProvider.cs
  abstractions/dotnet/src/authentication/IAccessTokenProvider.cs
  abstractions/dotnet/src/authentication/IAuthenticationProvider.cs
  abstractions/go/authentication/access_token_provider.go
  abstractions/go/authentication/base_bearer_token_authentication_provider.go
  abstractions/java/lib/src/main/java/com/microsoft/kiota/authentication/AccessTokenProvider.java
  abstractions/java/lib/src/main/java/com/microsoft/kiota/authentication/BaseBearerTokenAuthenticationProvider.java
  authentication/dotnet/azure/Microsoft.Kiota.Authentication.Azure.Tests/AzureIdentityAuthenticationProviderTests.cs
  authentication/dotnet/azure/src/AzureIdentityAccessTokenProvider.cs
  authentication/dotnet/azure/src/AzureIdentityAuthenticationProvider.cs
  authentication/go/azure/azure_identity_access_token_provider.go
  authentication/go/azure/azure_identity_authentication_provider.go
  authentication/java/azure/lib/src/main/java/com/microsoft/kiota/authentication/AzureIdentityAccessTokenProvider.java
  authentication/java/azure/lib/src/main/java/com/microsoft/kiota/authentication/AzureIdentityAuthenticationProvider.java
  docs/extending/authentication.md
  http/dotnet/httpclient/src/HttpClientRequestAdapter.cs
Labels: documentation, CSharp, Go, Java

#994 TS - URL to string
  CHANGELOG.md
  abstractions/typescript/package-lock.json
  abstractions/typescript/package.json
  abstractions/typescript/src/requestInformation.ts
  http/typescript/fetch/package-lock.json
  http/typescript/fetch/package.json
  http/typescript/fetch/src/fetchRequestAdapter.ts
Labels: TypeScript

#1076 - updates package lock for publishing
  http/typescript/fetch/package-lock.json
Labels: TypeScript

#1048 PHP - Request Adapter
  CHANGELOG.md
  README.md
  abstractions/php/composer.json
  abstractions/php/src/RequestAdapter.php
  abstractions/php/src/RequestInformation.php
  abstractions/php/src/Serialization/ParseNode.php
  abstractions/php/src/Serialization/ParseNodeFactory.php
  abstractions/php/src/Serialization/ParseNodeFactoryRegistry.php
  abstractions/php/src/Serialization/ParseNodeProxyFactory.php
  abstractions/php/src/Types/Date.php
  abstractions/php/src/Types/Time.php
  abstractions/php/tests/HttpMethodTest.php
  abstractions/php/tests/Microsoft/Kiota/Tests/SampleTest.php
  abstractions/php/tests/RequestInformationTest.php
  abstractions/php/tests/Types/DateTest.php
  abstractions/php/tests/Types/TimeTest.php
  http/php/guzzle/composer.json
  http/php/guzzle/src/GuzzleRequestAdapter.php
  http/php/guzzle/src/KiotaClientFactory.php
  http/php/guzzle/src/Middleware/ChaosHandler.php
  http/php/guzzle/src/Middleware/CompressionHandler.php
  http/php/guzzle/src/Middleware/Options/ChaosOption.php
  http/php/guzzle/src/Middleware/Options/CompressionOption.php
  http/php/guzzle/src/Middleware/Options/RetryOption.php
  http/php/guzzle/src/Middleware/Options/TelemetryOption.php
  http/php/guzzle/src/Middleware/RetryHandler.php
  http/php/guzzle/src/Middleware/TelemetryHandler.php
  http/php/guzzle/tests/GuzzleRequestAdapterTest.php
  http/php/guzzle/tests/KiotaClientFactoryTest.php
  http/php/guzzle/tests/Middleware/ChaosHandlerTest.php
Labels: PHP

#991 TypeScript - CJS/ES set up
  CHANGELOG.md
  abstractions/typescript/package-lock.json
  abstractions/typescript/package.json
  abstractions/typescript/src/authentication/baseBearerTokenAuthenticationProvider.ts
  abstractions/typescript/src/getPathParameters.ts
  abstractions/typescript/src/requestAdapter.ts
  abstractions/typescript/src/requestInformation.ts
  abstractions/typescript/src/serialization/serializationWriter.ts
  abstractions/typescript/tsconfig.base.json
  abstractions/typescript/tsconfig.cjs.json
  abstractions/typescript/tsconfig.es.json
  abstractions/typescript/tsconfig.json
  authentication/typescript/azure/package-lock.json
  authentication/typescript/azure/package.json
  authentication/typescript/azure/tsconfig.base.json
  authentication/typescript/azure/tsconfig.cjs.json
  authentication/typescript/azure/tsconfig.es.json
  authentication/typescript/azure/tsconfig.json
  http/typescript/fetch/package-lock.json
  http/typescript/fetch/package.json
  http/typescript/fetch/src/fetchRequestAdapter.ts
  http/typescript/fetch/tsconfig.base.json
  http/typescript/fetch/tsconfig.cjs.json
  http/typescript/fetch/tsconfig.es.json
  http/typescript/fetch/tsconfig.json
  serialization/typescript/json/package-lock.json
  serialization/typescript/json/package.json
  serialization/typescript/json/src/jsonSerializationWriter.ts
  serialization/typescript/json/tsconfig.base.json
  serialization/typescript/json/tsconfig.cjs.json
  serialization/typescript/json/tsconfig.es.json
  serialization/typescript/json/tsconfig.json
  src/Kiota.Builder/CodeDOM/CodeTypeBase.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/Writers/TypeScript/CodeClassDeclarationWriter.cs
  src/Kiota.Builder/Writers/TypeScript/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/TypeScript/TypeScriptConventionService.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeMethodWriterTests.cs
Labels: TypeScript

#1084 TS Update dependencies with abstractions 1.27
  authentication/typescript/azure/package-lock.json
  authentication/typescript/azure/tsconfig.es.json
  http/typescript/fetch/package-lock.json
  serialization/typescript/json/package-lock.json
Labels: TypeScript

#1040 [Core] PHP Json Serialization support.
  .github/workflows/serialization-php-json.yml
  CHANGELOG.md
  README.md
  abstractions/php/src/Enum.php
  abstractions/php/src/Serialization/Parsable.php
  abstractions/php/src/Serialization/ParseNode.php
  abstractions/php/src/Serialization/SerializationWriter.php
  abstractions/php/src/Types/Byte.php
  abstractions/php/src/Types/Date.php
  http/php/guzzle/tests/GuzzleRequestAdapterTest.php
  serialization/php/json/.gitignore
  serialization/php/json/composer.json
  serialization/php/json/phpstan.neon
  serialization/php/json/phpunit.xml
  serialization/php/json/src/JsonParseNode.php
  serialization/php/json/src/JsonParseNodeFactory.php
  serialization/php/json/src/JsonSerializationWriter.php
  serialization/php/json/src/JsonSerializationWriterFactory.php
  serialization/php/json/tests/JsonParseNodeFactoryTest.php
  serialization/php/json/tests/JsonParseNodeTest.php
  serialization/php/json/tests/JsonSerializationWriterFactoryTest.php
  serialization/php/json/tests/JsonSerializationWriterTest.php
  serialization/php/json/tests/Samples/Address.php
  serialization/php/json/tests/Samples/MaritalStatus.php
  serialization/php/json/tests/Samples/Person.php
Labels: PHP

#1096 updates gradle wrapper
  .github/workflows/abstractions-java.yml
  .github/workflows/authentication-java-azure.yml
  .github/workflows/http-java-okhttp.yml
  .github/workflows/serialization-java-json.yml
  abstractions/java/gradle/wrapper/gradle-wrapper.properties
  authentication/java/azure/gradle/wrapper/gradle-wrapper.properties
  http/java/okhttp/gradle/wrapper/gradle-wrapper.properties
  serialization/java/json/gradle/wrapper/gradle-wrapper.properties
Labels: Java

#1097 - updates reference to go duration and fixes related bugs
  abstractions/go/go.mod
  abstractions/go/go.sum
  abstractions/go/serialization/iso_duration.go
  abstractions/go/serialization/iso_duration_test.go
Labels: Go
