Repository microsoft/kiota, pull requests merged in 2022-08, with the labels that each got.

#1765 "Splits parsable interface for ruby + Duration, Time, and Date Support"
  CHANGELOG.md
  abstractions/ruby/microsoft_kiota_abstractions/Gemfile
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/serialization/additional_data_holder.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/serialization/iso_duration.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/serialization/parsable.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/serialization/parse_node.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/serialization/serialization_writer.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/version.rb
  abstractions/ruby/microsoft_kiota_abstractions/microsoft_kiota_abstractions.gemspec
  abstractions/ruby/microsoft_kiota_abstractions/spec/microsoft_kiota_abstractions_spec.rb
  abstractions/ruby/microsoft_kiota_abstractions/spec/spec_helper.rb
  serialization/ruby/json/microsoft_kiota_serialization/lib/microsoft_kiota_serialization/json_parse_node.rb
  serialization/ruby/json/microsoft_kiota_serialization/lib/microsoft_kiota_serialization/json_parse_node_factory.rb
  serialization/ruby/json/microsoft_kiota_serialization/lib/microsoft_kiota_serialization/json_serialization_writer.rb
  serialization/ruby/json/microsoft_kiota_serialization/lib/microsoft_kiota_serialization/version.rb
  serialization/ruby/json/microsoft_kiota_serialization/spec/files/message.rb
  serialization/ruby/json/microsoft_kiota_serialization/spec/microsoft_kiota_serialization_spec.rb
  serialization/ruby/json/microsoft_kiota_serialization/spec/spec_helper.rb
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Refiners/RubyLanguageRefinerTests.cs
Labels: Ruby

#1781 Updating Abstractions version
  abstractions/ruby/microsoft_kiota_abstractions/README.md
  serialization/ruby/json/microsoft_kiota_serialization/Gemfile
Labels: Ruby

#1761 Task/end to end testing
  .github/workflows/authentication-python-azure.yml
  CHANGELOG.md
  abstractions/python/kiota/abstractions/_version.py
  abstractions/python/kiota/abstractions/api_client_builder.py
  abstractions/python/kiota/abstractions/authentication/allowed_hosts_validator.py
  abstractions/python/kiota/abstractions/authentication/base_bearer_token_authentication_provider.py
  abstractions/python/kiota/abstractions/get_path_parameters.py
  abstractions/python/kiota/abstractions/method.py
  abstractions/python/kiota/abstractions/request_information.py
  abstractions/python/kiota/abstractions/serialization/additional_data_holder.py
  abstractions/python/kiota/abstractions/serialization/parsable_factory.py
  abstractions/python/kiota/abstractions/serialization/parse_node.py
  abstractions/python/kiota/abstractions/serialization/serialization_writer.py
  authentication/python/azure/.pylintrc
  authentication/python/azure/Pipfile
  authentication/python/azure/Pipfile.lock
  authentication/python/azure/authentication_azure/_version.py
  authentication/python/azure/authentication_azure/azure_identity_access_token_provider.py
  authentication/python/azure/authentication_azure/azure_identity_authentication_provider.py
  authentication/python/azure/tests/__init__.py
  authentication/python/azure/tests/helpers.py
  authentication/python/azure/tests/test_azure_identity_access_token_provider.py
  authentication/python/azure/tests/test_azure_identity_authentication_provider.py
  http/python/requests/.pylintrc
  http/python/requests/Pipfile
  http/python/requests/Pipfile.lock
  http/python/requests/http_requests/_version.py
  http/python/requests/http_requests/kiota_client_factory.py
  http/python/requests/http_requests/middleware/middleware.py
  http/python/requests/http_requests/middleware/options/parameters_name_decoding_options.py
  http/python/requests/http_requests/middleware/parameters_name_decoding_handler.py
  http/python/requests/http_requests/requests_request_adapter.py
  http/python/requests/tests/helpers/office_location.py
  http/python/requests/tests/helpers/user.py
  http/python/requests/tests/test_requests_request_adapter.py
  serialization/python/json/.pylintrc
  serialization/python/json/Pipfile
  serialization/python/json/Pipfile.lock
  serialization/python/json/serialization_json/_version.py
  serialization/python/json/serialization_json/json_parse_node.py
  serialization/python/json/serialization_json/json_parse_node_factory.py
  serialization/python/json/serialization_json/json_serialization_writer.py
  serialization/python/json/serialization_json/json_serialization_writer_factory.py
  serialization/python/json/tests/helpers/office_location.py
  serialization/python/json/tests/helpers/user.py
  serialization/python/json/tests/unit/test_json_parse_node.py
  serialization/python/json/tests/unit/test_json_serialization_writer.py
Labels: Python

#1788 Decrease verbose code generated in go
  CHANGELOG.md
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
Labels: enhancement, Go

#1200 Samwelkanda/codegen python
  .vscode/launch.json
  CHANGELOG.md
  README.md
  src/Kiota.Builder/PathSegmenters/PythonPathSegmenter.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/ILanguageRefiner.cs
  src/Kiota.Builder/Refiners/PythonRefiner.cs
  src/Kiota.Builder/Refiners/PythonReservedNamesProvider.cs
  src/Kiota.Builder/Writers/CSharp/CSharpConventionService.cs
  src/Kiota.Builder/Writers/CommonLanguageConventionService.cs
  src/Kiota.Builder/Writers/Go/GoConventionService.cs
  src/Kiota.Builder/Writers/ILanguageConventionService.cs
  src/Kiota.Builder/Writers/Java/JavaConventionService.cs
  src/Kiota.Builder/Writers/LanguageWriter.cs
  src/Kiota.Builder/Writers/Php/PhpConventionService.cs
  src/Kiota.Builder/Writers/Python/CodeBlockEndWriter.cs
  src/Kiota.Builder/Writers/Python/CodeClassDeclarationWriter.cs
  src/Kiota.Builder/Writers/Python/CodeEnumWriter.cs
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Python/CodeNameSpaceWriter.cs
  src/Kiota.Builder/Writers/Python/CodePropertyWriter.cs
  src/Kiota.Builder/Writers/Python/PythonCodeParameterOrderComparer.cs
  src/Kiota.Builder/Writers/Python/PythonConventionService.cs
  src/Kiota.Builder/Writers/Python/PythonRelativeImportManager.cs
  src/Kiota.Builder/Writers/Python/PythonWriter.cs
  src/Kiota.Builder/Writers/Ruby/RubyConventionService.cs
  src/Kiota.Builder/Writers/Swift/SwiftConventionService.cs
  src/Kiota.Builder/Writers/TypeScript/TypeScriptConventionService.cs
  tests/Kiota.Builder.Tests/CodeDOM/CodeParameterOrderComparerTests.cs
  tests/Kiota.Builder.Tests/Refiners/PythonLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Writers/LanguageWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeClassDeclarationWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeClassEndWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeEnumWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeNamespaceWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodePropertyWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/PythonRelativeImportManagerTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/PythonWriterTests.cs
Labels: Python

#1789 - bumps version to 0.4.0 for release
  CHANGELOG.md
  src/Kiota.Builder/Kiota.Builder.csproj
  src/kiota/kiota.csproj
Labels: generator

#1790 Fix build errors in CLI generated code
  CHANGELOG.md
  src/Kiota.Builder/Refiners/ShellRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CSharpConventionService.cs
  src/Kiota.Builder/Writers/Shell/ShellCodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Shell/ShellCodeMethodWriterTests.cs
Labels: bug, CLI

#1795 Updates to refiners and writers
  CHANGELOG.md
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/lib/microsoft_kiota_nethttplibrary/net_http_request_adapter.rb
  serialization/ruby/json/microsoft_kiota_serialization/lib/microsoft_kiota_serialization/json_parse_node.rb
  serialization/ruby/json/microsoft_kiota_serialization/spec/files/email_address.rb
  serialization/ruby/json/microsoft_kiota_serialization/spec/files/entity.rb
  serialization/ruby/json/microsoft_kiota_serialization/spec/files/item_body.rb
  serialization/ruby/json/microsoft_kiota_serialization/spec/files/message.rb
  serialization/ruby/json/microsoft_kiota_serialization/spec/files/messages_response.rb
  serialization/ruby/json/microsoft_kiota_serialization/spec/files/outlook_item.rb
  serialization/ruby/json/microsoft_kiota_serialization/spec/files/recipient.rb
  src/Kiota.Builder/CodeRenderers/CodeRenderer.cs
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Writers/Ruby/CodeClassDeclarationWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeMethodWriterTests.cs
Labels: Ruby

#1800 - fixes a bug where Go clients would panic in case of nil response value.
  .github/CODEOWNERS
  CHANGELOG.md
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
Labels: Go

#1804 [Dotnet] Fix for imports/usings reserved names replacement
  CHANGELOG.md
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/ShellRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CSharpConventionService.cs
  tests/Kiota.Builder.Tests/Refiners/CSharpLanguageRefinerTests.cs
Labels: CSharp, CLI
