Repository microsoft/kiota, pull requests merged in 2022-11, with the labels that each got.

#1942 - fixes array buffer nullability for TS
  CHANGELOG.md
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/Writers/TypeScript/CodeMethodWriter.cs
Labels: bug, TypeScript

#1947 Python/scalar request bodies
  CHANGELOG.md
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Python/PythonConventionService.cs
  tests/Kiota.Builder.Tests/Refiners/PythonLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeMethodWriterTests.cs
Labels: Python

#1937 PHP - Add support for scalar types in request bodies
  CHANGELOG.md
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Php/CodeMethodWriterTests.cs
Labels: PHP

#1963 Python/accept header definition
  CHANGELOG.md
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeMethodWriterTests.cs
Labels: Python

#1965 PHP - Fixes Bug where all request body types are handled as scalar types
  CHANGELOG.md
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
Labels: bug, PHP

#1974 - fixes a bug where path parameter would be missing if no operation was present at the segment level
  .github/workflows/sonarcloud.yml
  CHANGELOG.md
  src/Kiota.Builder/Extensions/OpenApiUrlTreeNodeExtensions.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Web/Kiota.Web.csproj
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Labels: bug, generator

#1979 feature/kiota web generate button
  src/Kiota.Web/Pages/Generate.razor
  src/Kiota.Web/Pages/Index.fr.resx
  src/Kiota.Web/Pages/Index.razor
  src/Kiota.Web/Pages/Index.razor.css
  src/Kiota.Web/Pages/Index.resx
  src/Kiota.Web/Pages/Show.razor
Labels: generator

#1981 adds playwright for UI testing and Axe for accessibility
  .github/workflows/dotnet.yml
  kiota.sln
  src/Kiota.Web/wwwroot/index.html
  tests/Kiota.Web.Tests/Kiota.Web.Tests.csproj
  tests/Kiota.Web.Tests/KiotaWebGeneralTests.cs
  tests/Kiota.Web.Tests/PlaywrightFixture.cs
  tests/Kiota.Web.Tests/Usings.cs
Labels: generator

#1976 PHP - Backing Store support
  CHANGELOG.md
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/PhpRefiner.cs
  src/Kiota.Builder/Writers/LanguageWriter.cs
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Php/PhpConventionService.cs
  src/Kiota.Builder/Writers/Php/PhpWriter.cs
  tests/Kiota.Builder.Tests/Refiners/PhpLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Writers/Php/CodeMethodWriterTests.cs
Labels: PHP, generator

#1989 - fixes a bug where readonly properties would fail to deserialize for TypeScript.
  CHANGELOG.md
  src/Kiota.Builder/Writers/TypeScript/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodePropertyWriterTests.cs
Labels: bug, TypeScript

#1990 Bugfix/odata error python
  CHANGELOG.md
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Python/PythonConventionService.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeMethodWriterTests.cs
Labels: Python

#2003 Fixes indentation errors in python classes
  CHANGELOG.md
  src/Kiota.Builder/Writers/Python/CodeBlockEndWriter.cs
  src/Kiota.Builder/Writers/Python/CodeEnumWriter.cs
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Python/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeEnumWriterTests.cs
Labels: bug, Python

#2005 Bugfix/original query parameter name
  CHANGELOG.md
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeMethodWriterTests.cs
Labels: bug, Python

#2004 Bugfix/hardcoded error module names
  CHANGELOG.md
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeMethodWriterTests.cs
Labels: bug, Python
