Repository microsoft/kiota, pull requests merged in 2022-12, with the labels that each got.

#2013 - adds missing workloads restore for kiota web deployment
  .github/workflows/create-release.yml
Labels: generator

#2017 bugfix/ts duplicated symbols
  CHANGELOG.md
  src/Kiota.Builder/Refiners/CodeUsingDeclarationNameComparer.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/Writers/TypeScript/CodeFunctionWriter.cs
  src/Kiota.Builder/Writers/TypeScript/CodeUsingWriter.cs
  src/Kiota.Builder/Writers/TypeScript/TypeScriptConventionService.cs
  tests/Kiota.Builder.Tests/Refiners/PythonLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/TypeScriptLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeUsingWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/TypeScriptWriterTests.cs
  tests/Kiota.Web.Tests/PlaywrightFixture.cs
Labels: bug, TypeScript

#2028 Feature/lazy imports python
  CHANGELOG.md
  src/Kiota.Builder/Refiners/PythonRefiner.cs
  src/Kiota.Builder/Writers/Python/CodeClassDeclarationWriter.cs
  src/Kiota.Builder/Writers/Python/PythonRelativeImportManager.cs
  src/Kiota.Builder/Writers/Python/PythonWriter.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodeClassDeclarationWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Python/PythonRelativeImportManagerTests.cs
Labels: Python

#2045 adds support for multi-valued header
  CHANGELOG.md
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Builder/Refiners/CSharpRefiner.cs
  src/Kiota.Builder/Refiners/GoRefiner.cs
  src/Kiota.Builder/Refiners/JavaRefiner.cs
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/TypeScript/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Refiners/GoLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Refiners/JavaLanguageRefinerTests.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Java/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeMethodWriterTests.cs
Labels: CSharp, TypeScript, Go, Java, generator

#2058 Bugfix/send collection async
  CHANGELOG.md
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
Labels: bug, Python

#2060 bugfix/go uuid reference
  CHANGELOG.md
  src/Kiota.Builder/Refiners/GoRefiner.cs
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/Validation/InconsistentTypeFormatPair.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Go/GoConventionService.cs
  src/Kiota.Builder/Writers/TypeScript/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/TypeScript/TypeScriptConventionService.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/TypeScript/CodeMethodWriterTests.cs
Labels: bug, Go, generator

#2068 Feature/request builders as properties
  CHANGELOG.md
  src/Kiota.Builder/Writers/Python/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/Python/CodePropertyWriterTests.cs
Labels: enhancement, Python

#2078 feature/form encoded
  README.md
  docs/using.md
  serialization/README.md
  src/Kiota.Builder/Configuration/GenerationConfiguration.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/GoRefiner.cs
  src/Kiota.Builder/Refiners/JavaRefiner.cs
  src/Kiota.Builder/Refiners/TypeScriptRefiner.cs
  src/Kiota.Builder/SearchProviders/GitHub/GitHubClient/Models/BasicError.cs
  src/Kiota.Builder/SearchProviders/GitHub/GitHubClient/Models/FileCommit503Error.cs
  src/Kiota.Builder/SearchProviders/GitHub/GitHubClient/Models/Repositories503Error.cs
  src/Kiota.Builder/SearchProviders/GitHub/GitHubClient/Models/ValidationError.cs
  src/Kiota.Web/wwwroot/appsettings.json
  src/kiota/appsettings.json
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Labels: CSharp, TypeScript, Go, Java, generator

#2090 - bumps version numbers for 0.9.0 release
  CHANGELOG.md
  src/Kiota.Builder/Kiota.Builder.csproj
  src/Kiota.Builder/SearchProviders/GitHub/GitHubSearchProvider.cs
  src/Kiota.Builder/SearchProviders/GitHub/Index/IndexRoot.cs
  src/Kiota.Web/wwwroot/appsettings.json
  src/kiota/appsettings.json
  src/kiota/kiota.csproj
Labels: generator

#2092 checks base url before setting it in ruby
  CHANGELOG.md
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
Labels: Ruby

#2097 - fixes #2095 a bug where a missing base url would make search fail
  CHANGELOG.md
  src/Kiota.Builder/SearchProviders/GitHub/GitHubClient/Models/RepoSearchResultItem.cs
  src/Kiota.Builder/SearchProviders/GitHub/GitHubSearchProvider.cs
Labels: generator

#2093 feature/ruby serializers registration
  .github/workflows/abstractions-ruby.yml
  .github/workflows/authentication-ruby-oauth.yml
  .github/workflows/http-ruby-nethttp.yml
  .github/workflows/serialization-ruby-json.yml
  CHANGELOG.md
  abstractions/ruby/microsoft_kiota_abstractions/.gitignore
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/api_client_builder.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/authentication/base_bearer_token_authentication_provider.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/serialization/parse_node_factory_registry.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/serialization/serialization_writer_factory_registry.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/version.rb
  abstractions/ruby/microsoft_kiota_abstractions/spec/microsoft_kiota_abstractions_spec.rb
  authentication/ruby/oauth/microsoft_kiota_authentication_oauth/.gitignore
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/.gitignore
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/Gemfile
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/lib/microsoft_kiota_nethttplibrary/net_http_request_adapter.rb
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/lib/microsoft_kiota_nethttplibrary/version.rb
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/spec/authentication_provider.rb
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/spec/microsoft_kiota_nethttp_spec.rb
  serialization/ruby/json/microsoft_kiota_serialization/.gitignore
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
Labels: Ruby

#2098 bugfix/ruby true async
  CHANGELOG.md
  abstractions/ruby/microsoft_kiota_abstractions/Gemfile
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/authentication/access_token_provider.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/authentication/anonymous_authentication_provider.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/authentication/base_bearer_token_authentication_provider.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/version.rb
  abstractions/ruby/microsoft_kiota_abstractions/microsoft_kiota_abstractions.gemspec
  authentication/ruby/oauth/microsoft_kiota_authentication_oauth/Gemfile
  authentication/ruby/oauth/microsoft_kiota_authentication_oauth/lib/microsoft_kiota_authentication_oauth/oauth_access_token_provider.rb
  authentication/ruby/oauth/microsoft_kiota_authentication_oauth/lib/microsoft_kiota_authentication_oauth/version.rb
  authentication/ruby/oauth/microsoft_kiota_authentication_oauth/microsoft_kiota_authentication_oauth.gemspec
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/Gemfile
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/lib/microsoft_kiota_nethttplibrary/net_http_request_adapter.rb
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/lib/microsoft_kiota_nethttplibrary/version.rb
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/microsoft_kiota_nethttplibrary.gemspec
  http/ruby/nethttp/microsoft_kiota_nethttplibrary/spec/authentication_provider.rb
  serialization/ruby/json/microsoft_kiota_serialization/Gemfile
  serialization/ruby/json/microsoft_kiota_serialization/lib/microsoft_kiota_serialization/version.rb
  serialization/ruby/json/microsoft_kiota_serialization/microsoft_kiota_serialization.gemspec
Labels: Ruby

#2102 - adds support for query parameters names aliasing in Ruby
  CHANGELOG.md
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/request_information.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/version.rb
  abstractions/ruby/microsoft_kiota_abstractions/spec/query_parameters_mock.rb
  abstractions/ruby/microsoft_kiota_abstractions/spec/request_information_spec.rb
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeMethodWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodePropertyWriterTests.cs
Labels: Ruby

#2103 - adds support for vendor specific serialization in Ruby
  CHANGELOG.md
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/serialization/parse_node_factory_registry.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/serialization/serialization_writer_factory_registry.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/version.rb
  abstractions/ruby/microsoft_kiota_abstractions/spec/parse_node_factory_mock.rb
  abstractions/ruby/microsoft_kiota_abstractions/spec/parse_node_factory_registry_spec.rb
  abstractions/ruby/microsoft_kiota_abstractions/spec/serialization_writer_factory_mock.rb
  abstractions/ruby/microsoft_kiota_abstractions/spec/serialization_writer_factory_registry_spec.rb
Labels: Ruby

#2104 - adds support for default properties values in Ruby
  CHANGELOG.md
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodePropertyWriter.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeMethodWriterTests.cs
Labels: Ruby

#2106 - adds support for discriminator in ruby
  CHANGELOG.md
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/request_adapter.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/serialization/parse_node.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/version.rb
  authentication/ruby/oauth/microsoft_kiota_authentication_oauth/microsoft_kiota_authentication_oauth.gemspec
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/faraday_request_adapter.rb
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/version.rb
  http/ruby/faraday/microsoft_kiota_faraday/microsoft_kiota_faraday.gemspec
  serialization/ruby/json/microsoft_kiota_serialization/lib/microsoft_kiota_serialization/json_parse_node.rb
  serialization/ruby/json/microsoft_kiota_serialization/lib/microsoft_kiota_serialization/version.rb
  serialization/ruby/json/microsoft_kiota_serialization/microsoft_kiota_serialization.gemspec
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Writers/Java/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Ruby/RubyConventionService.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeMethodWriterTests.cs
Labels: Ruby

#2107 - adds support for error mapping in Ruby
  CHANGELOG.md
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/api_error.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/request_adapter.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/version.rb
  authentication/ruby/oauth/microsoft_kiota_authentication_oauth/microsoft_kiota_authentication_oauth.gemspec
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/faraday_request_adapter.rb
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/version.rb
  http/ruby/faraday/microsoft_kiota_faraday/microsoft_kiota_faraday.gemspec
  serialization/ruby/json/microsoft_kiota_serialization/microsoft_kiota_serialization.gemspec
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Writers/Ruby/CodeClassDeclarationWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Ruby/RubyConventionService.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeClassEndWriterTests.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeMethodWriterTests.cs
Labels: Ruby

#2108 - moves response handler in ruby
  CHANGELOG.md
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/request_adapter.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/response_handler.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/version.rb
  authentication/ruby/oauth/microsoft_kiota_authentication_oauth/microsoft_kiota_authentication_oauth.gemspec
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday.rb
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/faraday_request_adapter.rb
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/middleware/response_handler_option.rb
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/version.rb
  http/ruby/faraday/microsoft_kiota_faraday/microsoft_kiota_faraday.gemspec
  serialization/ruby/json/microsoft_kiota_serialization/microsoft_kiota_serialization.gemspec
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeMethodWriterTests.cs
Labels: Ruby

#2109 - adds support for multi-valued header in Ruby
  CHANGELOG.md
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/authentication/base_bearer_token_authentication_provider.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/request_headers.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/request_information.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/version.rb
  abstractions/ruby/microsoft_kiota_abstractions/spec/request_headers_spec.rb
  authentication/ruby/oauth/microsoft_kiota_authentication_oauth/microsoft_kiota_authentication_oauth.gemspec
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/faraday_request_adapter.rb
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/version.rb
  http/ruby/faraday/microsoft_kiota_faraday/microsoft_kiota_faraday.gemspec
  serialization/ruby/json/microsoft_kiota_serialization/microsoft_kiota_serialization.gemspec
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Ruby/CodeMethodWriterTests.cs
Labels: Ruby

#2110 bugfix/ruby multiple indexers
  CHANGELOG.md
  src/Kiota.Builder/CodeDOM/CodeClass.cs
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/CodeDOM/DiscriminatorInformation.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Writers/CSharp/CodeIndexerWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeMethodWriter.cs
  src/Kiota.Builder/Writers/Ruby/RubyConventionService.cs
  tests/Kiota.Builder.Tests/Refiners/JavaLanguageRefinerTests.cs
Labels: Ruby

#2111 ruby fixes for full service libs
  CHANGELOG.md
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/serialization/parse_node.rb
  abstractions/ruby/microsoft_kiota_abstractions/lib/microsoft_kiota_abstractions/version.rb
  authentication/ruby/oauth/microsoft_kiota_authentication_oauth/lib/microsoft_kiota_authentication_oauth/version.rb
  authentication/ruby/oauth/microsoft_kiota_authentication_oauth/microsoft_kiota_authentication_oauth.gemspec
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/faraday_request_adapter.rb
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/kiota_client_factory.rb
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/middleware/parameters_name_decoding_handler.rb
  http/ruby/faraday/microsoft_kiota_faraday/lib/microsoft_kiota_faraday/version.rb
  http/ruby/faraday/microsoft_kiota_faraday/microsoft_kiota_faraday.gemspec
  http/ruby/faraday/microsoft_kiota_faraday/spec/parameters_name_decoding_handler_spec.rb
  serialization/ruby/json/microsoft_kiota_serialization/lib/microsoft_kiota_serialization/json_parse_node.rb
  serialization/ruby/json/microsoft_kiota_serialization/lib/microsoft_kiota_serialization/version.rb
  serialization/ruby/json/microsoft_kiota_serialization/microsoft_kiota_serialization.gemspec
  src/Kiota.Builder/CodeDOM/CodeClass.cs
  src/Kiota.Builder/CodeDOM/CodeMethod.cs
  src/Kiota.Builder/CodeRenderers/CodeRenderer.cs
  src/Kiota.Builder/PathSegmenters/RubyPathSegmenter.cs
  src/Kiota.Builder/Refiners/CommonLanguageRefiner.cs
  src/Kiota.Builder/Refiners/PythonRefiner.cs
  src/Kiota.Builder/Refiners/RubyRefiner.cs
  src/Kiota.Builder/Writers/NamespaceClassNamesProvider.cs
  src/Kiota.Builder/Writers/Ruby/CodeClassDeclarationWriter.cs
  src/Kiota.Builder/Writers/Ruby/CodeNamespaceWriter.cs
  src/Kiota.Builder/Writers/Ruby/RubyWriter.cs
  src/Kiota.Builder/Writers/TypeScript/CodeNameSpaceWriter.cs
  tests/Kiota.Builder.Tests/Refiners/RubyLanguageRefinerTests.cs
Labels: Ruby
