Repository microsoft/kiota, pull requests merged in 2022-02, with the labels that each got.

#1074 Samwelkanda/python/kiota abstractions store
  abstractions/python/kiota/abstractions/store/__init__.py
  abstractions/python/kiota/abstractions/store/backed_model.py
  abstractions/python/kiota/abstractions/store/backing_store.py
  abstractions/python/kiota/abstractions/store/backing_store_factory.py
  abstractions/python/kiota/abstractions/store/backing_store_factory_singleton.py
  abstractions/python/kiota/abstractions/store/backing_store_parse_node_factory.py
  abstractions/python/kiota/abstractions/store/backing_store_serialization_writer_proxy_factory.py
  abstractions/python/kiota/abstractions/store/in_memory_backing_store.py
  abstractions/python/kiota/abstractions/store/in_memory_backing_store_factory.py
Labels: Python

#1060 Samwelkanda/python/kiota abstractions core
  abstractions/python/kiota/abstractions/api_client_builder.py
  abstractions/python/kiota/abstractions/get_path_parameters.py
  abstractions/python/kiota/abstractions/method.py
  abstractions/python/kiota/abstractions/native_response_handler.py
  abstractions/python/kiota/abstractions/native_response_wrapper.py
  abstractions/python/kiota/abstractions/request_adapter.py
  abstractions/python/kiota/abstractions/request_information.py
  abstractions/python/kiota/abstractions/request_option.py
  abstractions/python/kiota/abstractions/response_handler.py
  abstractions/python/kiota/abstractions/store/backing_store_parse_node_factory.py
Labels: Python

#1058 Samwelkanda/python/kiota abstractions serialization
  abstractions/python/kiota/abstractions/api_client_builder.py
  abstractions/python/kiota/abstractions/get_path_parameters.py
  abstractions/python/kiota/abstractions/method.py
  abstractions/python/kiota/abstractions/native_response_handler.py
  abstractions/python/kiota/abstractions/native_response_wrapper.py
  abstractions/python/kiota/abstractions/request_adapter.py
  abstractions/python/kiota/abstractions/request_information.py
  abstractions/python/kiota/abstractions/request_option.py
  abstractions/python/kiota/abstractions/response_handler.py
  abstractions/python/kiota/abstractions/serialization/__init__.py
  abstractions/python/kiota/abstractions/serialization/parsable.py
  abstractions/python/kiota/abstractions/serialization/parse_node.py
  abstractions/python/kiota/abstractions/serialization/parse_node_factory.py
  abstractions/python/kiota/abstractions/serialization/parse_node_factory_registry.py
  abstractions/python/kiota/abstractions/serialization/parse_node_proxy_factory.py
  abstractions/python/kiota/abstractions/serialization/serialization_writer.py
  abstractions/python/kiota/abstractions/serialization/serialization_writer_factory.py
  abstractions/python/kiota/abstractions/serialization/serialization_writer_factory_registry.py
  abstractions/python/kiota/abstractions/serialization/serialization_writer_proxy_factory.py
  abstractions/python/kiota/abstractions/store/__init__.py
  abstractions/python/kiota/abstractions/store/backed_model.py
  abstractions/python/kiota/abstractions/store/backing_store.py
  abstractions/python/kiota/abstractions/store/backing_store_factory.py
  abstractions/python/kiota/abstractions/store/backing_store_factory_singleton.py
  abstractions/python/kiota/abstractions/store/backing_store_parse_node_factory.py
  abstractions/python/kiota/abstractions/store/backing_store_serialization_writer_proxy_factory.py
  abstractions/python/kiota/abstractions/store/in_memory_backing_store.py
  abstractions/python/kiota/abstractions/store/in_memory_backing_store_factory.py
Labels: Python

#925 Samwelkanda/python/kiota abstractions setup
  .github/workflows/abstractions-python.yml
  CHANGELOG.md
  README.md
  abstractions/python/.gitignore
  abstractions/python/.pylintrc
  abstractions/python/LICENSE
  abstractions/python/Pipfile
  abstractions/python/Pipfile.lock
  abstractions/python/README.md
  abstractions/python/kiota/__init__.py
  abstractions/python/kiota/abstractions/__init__.py
  abstractions/python/kiota/abstractions/_version.py
  abstractions/python/kiota/abstractions/api_client_builder.py
  abstractions/python/kiota/abstractions/authentication/__init__.py
  abstractions/python/kiota/abstractions/authentication/access_token_provider.py
  abstractions/python/kiota/abstractions/authentication/allowed_hosts_validator.py
  abstractions/python/kiota/abstractions/authentication/anonymous_authentication_provider.py
  abstractions/python/kiota/abstractions/authentication/authentication_provider.py
  abstractions/python/kiota/abstractions/authentication/base_bearer_token_authentication_provider.py
  abstractions/python/kiota/abstractions/get_path_parameters.py
  abstractions/python/kiota/abstractions/method.py
  abstractions/python/kiota/abstractions/native_response_handler.py
  abstractions/python/kiota/abstractions/native_response_wrapper.py
  abstractions/python/kiota/abstractions/request_adapter.py
  abstractions/python/kiota/abstractions/request_information.py
  abstractions/python/kiota/abstractions/request_option.py
  abstractions/python/kiota/abstractions/response_handler.py
  abstractions/python/kiota/abstractions/serialization/__init__.py
  abstractions/python/kiota/abstractions/serialization/parsable.py
  abstractions/python/kiota/abstractions/serialization/parse_node.py
  abstractions/python/kiota/abstractions/serialization/parse_node_factory.py
  abstractions/python/kiota/abstractions/serialization/parse_node_factory_registry.py
  abstractions/python/kiota/abstractions/serialization/parse_node_proxy_factory.py
  abstractions/python/kiota/abstractions/serialization/serialization_writer.py
  abstractions/python/kiota/abstractions/serialization/serialization_writer_factory.py
  abstractions/python/kiota/abstractions/serialization/serialization_writer_factory_registry.py
  abstractions/python/kiota/abstractions/serialization/serialization_writer_proxy_factory.py
  abstractions/python/kiota/abstractions/store/__init__.py
  abstractions/python/kiota/abstractions/store/backed_model.py
  abstractions/python/kiota/abstractions/store/backing_store.py
  abstractions/python/kiota/abstractions/store/backing_store_factory.py
  abstractions/python/kiota/abstractions/store/backing_store_factory_singleton.py
  abstractions/python/kiota/abstractions/store/backing_store_parse_node_factory.py
  abstractions/python/kiota/abstractions/store/backing_store_serialization_writer_proxy_factory.py
  abstractions/python/kiota/abstractions/store/in_memory_backing_store.py
  abstractions/python/kiota/abstractions/store/in_memory_backing_store_factory.py
  abstractions/python/pyproject.toml
Labels: Python

#1109 - reference bump in ts and go and typos fixes
  authentication/go/azure/go.mod
  authentication/go/azure/go.sum
  authentication/java/azure/lib/src/main/java/com/microsoft/kiota/authentication/AzureIdentityAccessTokenProvider.java
  authentication/typescript/azure/package-lock.json
  authentication/typescript/azure/test/azureIdentityAuthenticationTest.ts
Labels: TypeScript, Go, Java

#1113 hotfix/packages release
  authentication/typescript/azure/.npmrc
  authentication/typescript/azure/package.json
  http/typescript/fetch/.npmrc
  serialization/typescript/json/.npmrc
Labels: TypeScript

#1114 - aligns go references to abstractions to avoid conflicts
  http/go/nethttp/go.mod
  http/go/nethttp/go.sum
  serialization/go/json/go.mod
  serialization/go/json/go.sum
Labels: Go

#1116 fixes a bug where host and scheme validation would fail because of sequence of calls
  abstractions/go/authentication/allowed_hosts_validator.go
  abstractions/go/authentication/allowed_hosts_validator_test.go
  authentication/go/azure/azure_identity_access_token_provider_test.go
  http/dotnet/httpclient/src/HttpClientRequestAdapter.cs
  http/dotnet/httpclient/src/Microsoft.Kiota.Http.HttpClientLibrary.csproj
  http/go/nethttp/nethttp_request_adapter.go
  http/java/okhttp/lib/build.gradle
  http/java/okhttp/lib/src/main/java/com/microsoft/kiota/http/OkHttpRequestAdapter.java
  http/typescript/fetch/package-lock.json
  http/typescript/fetch/package.json
  http/typescript/fetch/src/fetchRequestAdapter.ts
Labels: CSharp, TypeScript, Go, Java

#1118 - updates abstractions reference in go auth
  authentication/go/azure/go.mod
  authentication/go/azure/go.sum
Labels: Go

#1119 - updates go http references to abstractions
  http/go/nethttp/go.mod
  http/go/nethttp/go.sum
Labels: Go

#1108 Samwelkanda/authentication python azure
  .github/workflows/authentication-python-azure.yml
  CHANGELOG.md
  README.md
  authentication/README.md
  authentication/python/azure/.gitignore
  authentication/python/azure/.pylintrc
  authentication/python/azure/LICENSE
  authentication/python/azure/Pipfile
  authentication/python/azure/Pipfile.lock
  authentication/python/azure/README.md
  authentication/python/azure/authentication_azure/__init__.py
  authentication/python/azure/authentication_azure/_version.py
  authentication/python/azure/authentication_azure/azure_identity_access_token_provider.py
  authentication/python/azure/authentication_azure/azure_identity_authentication_provider.py
  authentication/python/azure/pyproject.toml
Labels: Python

#1139 - fixes an issue where typescript headers would return compile errors
  src/Kiota.Builder/Writers/TypeScript/CodeMethodWriter.cs
Labels: TypeScript

#1138 - fixes an error where validate protocol would read window on node
  abstractions/typescript/src/authentication/validateProtocol.ts
Labels: TypeScript

#1121 fixes enum collections deserialization in Go
  CHANGELOG.md
  src/Kiota.Builder/Writers/Go/CodeEnumWriter.cs
  src/Kiota.Builder/Writers/Go/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Go/CodeEnumWriterTests.cs
Labels: Go

#1181 - fixes blocked dependabot PR
  authentication/typescript/azure/package-lock.json
  authentication/typescript/azure/package.json
Labels: TypeScript

#1180 Add CLI commons package
  .github/dependabot.yml
  .github/workflows/cli-commons.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/sonarcloud.yml
  README.md
  cli/commons/Microsoft.Kiota.Cli.Commons.sln
  cli/commons/README.md
  cli/commons/src/Microsoft.Kiota.Cli.Commons.Tests/Microsoft.Kiota.Cli.Commons.Tests.csproj
  cli/commons/src/Microsoft.Kiota.Cli.Commons/IO/FormatterType.cs
  cli/commons/src/Microsoft.Kiota.Cli.Commons/IO/IOutputFormatter.cs
  cli/commons/src/Microsoft.Kiota.Cli.Commons/IO/IOutputFormatterFactory.cs
  cli/commons/src/Microsoft.Kiota.Cli.Commons/Microsoft.Kiota.Cli.Commons.csproj
  src/Kiota.Builder/Refiners/ShellRefiner.cs
Labels: CLI

#1187 - lock files update for #1100 release
  http/go/nethttp/go.mod
  http/go/nethttp/go.sum
  http/typescript/fetch/package-lock.json
Labels: TypeScript, Go

#1014 More experience examples
  docs/experience.md
Labels: documentation

#1215 Fix for type collisions for types referenced from OData actions
  src/Kiota.Builder/KiotaBuilder.cs
Labels: generator

#1216 Fix issue with SendPrimitiveAsync<Stream> not throwing on http error response
  http/dotnet/httpclient/src/HttpClientRequestAdapter.cs
  http/dotnet/httpclient/src/Microsoft.Kiota.Http.HttpClientLibrary.csproj
Labels: CSharp

#1224 Fix incorrect path on cli commons pipeline
  .github/workflows/cli-commons.yml
Labels: CLI

#1227 Remove unused Console parameter
  cli/commons/src/Microsoft.Kiota.Cli.Commons/IO/IOutputFormatter.cs
  cli/commons/src/Microsoft.Kiota.Cli.Commons/Microsoft.Kiota.Cli.Commons.csproj
Labels: CLI

#1201 PHP - Authentication Provider for Microsoft Identity platform
  .github/workflows/authentication-php-phpleague.yml
  CHANGELOG.md
  README.md
  abstractions/README.md
  abstractions/php/composer.json
  abstractions/php/src/Authentication/BaseBearerTokenAuthenticationProvider.php
  authentication/README.md
  authentication/php/phpleague/.editorconfig
  authentication/php/phpleague/.gitattributes
  authentication/php/phpleague/.gitignore
  authentication/php/phpleague/README.md
  authentication/php/phpleague/composer.json
  authentication/php/phpleague/phpstan.neon
  authentication/php/phpleague/phpunit.xml
  authentication/php/phpleague/src/Oauth/AuthorizationCodeCertificateContext.php
  authentication/php/phpleague/src/Oauth/AuthorizationCodeContext.php
  authentication/php/phpleague/src/Oauth/BaseCertificateContext.php
  authentication/php/phpleague/src/Oauth/BaseSecretContext.php
  authentication/php/phpleague/src/Oauth/ClientCredentialCertificateContext.php
  authentication/php/phpleague/src/Oauth/ClientCredentialContext.php
  authentication/php/phpleague/src/Oauth/OnBehalfOfCertificateContext.php
  authentication/php/phpleague/src/Oauth/OnBehalfOfContext.php
  authentication/php/phpleague/src/Oauth/OnBehalfOfGrant.php
  authentication/php/phpleague/src/Oauth/TokenRequestContext.php
  authentication/php/phpleague/src/PhpLeagueAccessTokenProvider.php
  authentication/php/phpleague/src/PhpLeagueAuthenticationProvider.php
  authentication/php/phpleague/tests/PhpLeagueAccessTokenProviderTest.php
  authentication/php/phpleague/tests/PhpLeagueAuthenticationProviderTest.php
  authentication/php/phpleague/tests/sample_cert.pem
  authentication/php/phpleague/tests/sample_private_key.pem
  http/README.md
  http/php/guzzle/composer.json
  serialization/README.md
Labels: PHP

#1257 Add path parameters to request information
  src/Kiota.Builder/Writers/Shell/ShellCodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Shell/ShellCodeMethodWriterTests.cs
Labels: CLI

#1265 Add output filter contract
  cli/commons/src/Microsoft.Kiota.Cli.Commons/IO/FormatterType.cs
  cli/commons/src/Microsoft.Kiota.Cli.Commons/IO/IOutputFilter.cs
  cli/commons/src/Microsoft.Kiota.Cli.Commons/IO/IOutputFormatter.cs
  cli/commons/src/Microsoft.Kiota.Cli.Commons/IO/IOutputFormatterFactory.cs
  cli/commons/src/Microsoft.Kiota.Cli.Commons/Microsoft.Kiota.Cli.Commons.csproj
Labels: CLI

#1288 fixes a leaky go http client configuration
  CHANGELOG.md
  http/go/nethttp/kiota_client_factory.go
Labels: Go

#1290 Samwelkanda/update python json serialization
  .github/workflows/serialization-python-json.yml
  CHANGELOG.md
  serialization/python/json/pyproject.toml
  serialization/python/json/serialization_json/_version.py
  serialization/python/json/serialization_json/json_parse_node.py
  serialization/python/json/serialization_json/json_parse_node_factory.py
  serialization/python/json/tests/unit/test_json_parse_node_factory.py
Labels: Python

#1292 Fix for Java directory and namespace casing
  CHANGELOG.md
  src/Kiota.Builder/PathSegmenters/JavaPathSegementer.cs
  src/Kiota.Builder/Refiners/JavaRefiner.cs
Labels: Java
