Repository microsoft/kiota, pull requests merged in 2023-07, with the labels that each got.

#2854 Fix PHP request executor methods returning enums
  CHANGELOG.md
  src/Kiota.Builder/Writers/Php/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Writers/Php/CodeMethodWriterTests.cs
Labels: PHP

#2853 Adds the ability to configure MDOP
  CHANGELOG.md
  src/Kiota.Builder/Configuration/GenerationConfiguration.cs
  src/Kiota.Builder/KiotaBuilder.cs
  src/Kiota.Web/wwwroot/appsettings.json
  src/kiota/KiotaConfigurationExtensions.cs
  src/kiota/appsettings.json
Labels: Needs: Attention :wave:

#2861 Do not convert first char to upper on type names during code model construction
  CHANGELOG.md
  src/Kiota.Builder/Extensions/OpenApiReferenceExtensions.cs
  src/Kiota.Builder/Writers/Python/CodeMethodWriter.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiReferenceExtensionsTests.cs
  tests/Kiota.Builder.Tests/Extensions/OpenApiUrlTreeNodeExtensionsTests.cs
  tests/Kiota.Builder.Tests/KiotaBuilderTests.cs
Labels: Needs: Attention :wave:

#2950 Updates generator to use aggregate Duration and Period type in java
  CHANGELOG.md
  src/Kiota.Builder/Refiners/JavaRefiner.cs
  src/Kiota.Builder/Writers/Java/JavaConventionService.cs
  tests/Kiota.Builder.Tests/Refiners/JavaLanguageRefinerTests.cs
Labels: Java
